[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
autopep8 = "*"

[packages]
python-telegram-bot = "*"
pymongo = "*"
dnspython = "*"
xxhash = "*"
requests = "*"
pycurl = "*"
beautifulsoup4 = "*"
nltk = "*"
lxml = "*"
astor = "*"
python-magic = "*"

[requires]
python_version = "3.8"
